<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers Dashboard</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/admin/adminDashboard.css">
    <link rel="stylesheet" href="/admin/admin.css">
    <link rel="stylesheet" href="/admin/category.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    
    <style>
      .action{
        padding-right: 180px;
      }
      .ad-offer {
            background-color: rgb(255, 0, 153);
            border: none;
        }
      .remove-offer {
        background-color: red;
        border: none;
      }
    </style>

  </head>

  <body>
    <div class="container-fluid holder">
      <!-- Header -->
      <%- include('../../views/partials/admin/header') %>

      <div class="row side">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar-container vh-100 position-fixed">
          <%- include('../../views/partials/admin/sidebar') %>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 main-content">
          <!-- content goes here -->

          <div class="main">
            <div class="top-bar">

              <div class="search-bar mb-3">
                <input
                  type="text"
                  id="search"
                  onkeyup="search()"
                  placeholder="Search by category name"
                />
                <i class="fas fa-search me-5"></i>
              </div>
            </div>

            <div class="table-container">
              <h3 class="fw-bold mb-4">Categories</h3>
              <table>
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th style="text-align: right;" class="action">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% category.forEach((cat, index) => { %>
                  <tr id="searchData">
                    <td><%= index + 1 %></td>
                    <td><%= cat.name %></td>
                    <td class="bt-td">
                      
                      <% if (cat.offer_id) { %>
                        <button class="offer-btn rounded-pill me-3 ps-3 pe-3 remove-offer text-white" data-category-id="<%= cat._id %>">
                         Remove Offer
                        </button>
                        <% } else { %>
                          <button class="offer-btn rounded-pill me-3 ps-3 pe-3 ad-offer">
                            <a class="text-decoration-none text-white" href="/admin/add-offer-category?id=<%= cat._id %>">Add Offer</a>
                          </button>
                      <% } %>
                      
                      <button
                        class="edit-btn rounded-pill me-3 ps-3 pe-3"
                        onclick="editCategory('<%= cat.name %>', '<%- cat.description %>', '<%= cat._id %>')"
                      >
                        Edit
                      </button>
                      <% if (cat.is_deleted) { %>
                      <form
                        action="/admin/restoreCategory/<%= cat._id %>"
                        method="POST"
                        style="display: inline"
                      >
                        <button
                          type="submit"
                          class="btn btn-danger rounded-pill p-1 soft-bt"
                        >
                          Unblock
                        </button>
                      </form>
                      <% } else { %>
                      <form
                        action="/admin/soft-delete/<%= cat._id %>"
                        method="POST"
                        style="display: inline"
                      >
                        <button
                          type="submit"
                          class="btn btn-success soft-bt bt-block"
                        >
                          Block
                        </button>
                      </form>
                      <% } %>
                      <form
                        action="/admin/deleteCategory/<%= cat._id %>"
                        method="POST"
                        style="display: inline"
                        class="delete-category-form"
                        data-category-id="<%= cat._id %>"
                      >
                        <button type="submit" class="delete-btn ms-3">
                          <i class="bi bi-archive-fill"></i>
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>

            <!-- SweetAlert -->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <% if (error) { %>
            <script>
              Swal.fire({
                title: "Error",
                text: "<%= error %>",
                icon: "error",
                confirmButtonText: "OK",
                customClass: {
                  popup: "my-swal-popup", // Custom class for the popup
                  title: "my-swal-title", // Custom class for the title
                  content: "my-swal-content", // Custom class for the content (text)
                  confirmButton: "my-swal-btn", // Custom class for the button
                },
              });
            </script>
            <% } %>

            <% if (success && success.length > 0) { %>
              <script>
                Swal.fire({
                  title: "Sucsess",
                  text: "<%= success[0] %>",
                  icon: "success",
                  confirmButtonText: "OK",
                  customClass: {
                    popup: "my-swal-popup", // Custom class for the popup
                    title: "my-swal-title", // Custom class for the title
                    content: "my-swal-content", // Custom class for the content (text)
                    confirmButton: "my-swal-btn", // Custom class for the button
                  },
                });
              </script>
              <% } %>

            <form action="/admin/addCategory" method="post" class="addForm">
              <input
                type="text"
                name="name"
                placeholder="Enter the name"
                required
              />
              <input
                type="text"
                name="description"
                placeholder="Description"
                required
              />
              <button class=add-category-btn fw-semibold">Add Category</button>
            </form>

            <!-- Modal for Editing Category -->
            <div
              class="modal fade"
              id="editCategoryModal"
              tabindex="-1"
              aria-labelledby="editCategoryModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="editCategoryModalLabel">
                      Edit Category
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <form
                    id="editCategoryForm"
                    action="/admin/editCategory"
                    method="post"
                  >
                    <div class="modal-body">
                      <input type="hidden" name="_id" id="editCategoryId" />
                      <div class="mb-3">
                        <label for="editName" class="form-label"
                          >Category Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="editName"
                          name="name"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="editDescription" class="form-label"
                          >Description</label
                        >
                        <textarea
                          class="form-control"
                          id="editDescription"
                          name="description"
                          rows="3"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Save Changes
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <script>
      document.querySelectorAll('.remove-offer').forEach(button => {
          button.addEventListener('click', function (event) {
              event.preventDefault(); // Prevent default button click action
              const categoryId = this.getAttribute('data-category-id'); // Get the category ID

              Swal.fire({
                  title: 'Are you sure?',
                  text: 'This action will remove the offer from the category!',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, remove it!',
              }).then((result) => {
                  if (result.isConfirmed) {
                      // Redirect to the remove offer route
                      window.location.href = `/admin/remove-offer-category?id=${categoryId}`;
                  }
              });
          });
      });

      document.querySelectorAll('.delete-category-form').forEach(form => {
        form.addEventListener('submit', function (event) {
          event.preventDefault(); // Prevent the default form submission
          const categoryId = this.getAttribute('data-category-id'); // Get the category ID (optional, if you need it for any reason)

          Swal.fire({
            title: 'Are you sure?',
            text: 'This action will permanently delete the category!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
          }).then((result) => {
            if (result.isConfirmed) {
              // If confirmed, submit the form
              this.submit();
            }
          });
        });
      });



      function search() {
        const input = document
          .getElementById("search")
          .value.toLowerCase()
          .trim(); // Get search input and convert to lowercase
        const rows = document.querySelectorAll("#searchData"); // Get all rows to search

        rows.forEach((row) => {
          const cat = row.children[1].textContent.toLowerCase().trim(); // Get user name in the second column (index 1)
          if (cat.includes(input)) {
            row.style.display = ""; // Show row if it matches the search
          } else {
            row.style.display = "none"; // Hide row if it doesn't match
          }
        });
      }

      // //edit category
      // function editCategory(name) {
      //     const editForm = document.getElementById('editForm')
      //     editForm.style.display = "flex"

      //     document.getElementById("editName").value = name;
      //     document.getElementById("editDescription").value = ""
      // }

      // Edit category modal function
      function editCategory(name, description, id) {
        document.getElementById("editCategoryId").value = id;
        document.getElementById("editName").value = name;
        document.getElementById("editDescription").value = description;

        //show modal
        const editCategoryModal = new bootstrap.Modal(
          document.getElementById("editCategoryModal")
        );
        editCategoryModal.show();
      }
    </script>
  </body>
</html>
