<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers Dashboard</title>
    <!-- font awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/admin/adminDashboard.css" />
    <link rel="stylesheet" href="/admin/admin.css" />
    <link rel="stylesheet" href="/admin/customer.css">

    <style>
    .table th, .table td {
        vertical-align: middle;
    }
    .t-head {
        background-color: rgb(63, 63, 63);
    }
    .form-holder{
        padding: 20px;
        background-color: #e6e6e6;
        border-radius: 20px;
    }

    .ad-bt{
        text-align: center;
    }
    </style>

  </head>

  <body>
    <div class="container-fluid holder">
      <!-- Header -->
      <%- include('../../views/partials/admin/header') %>

      <div class="row side">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar-container vh-100 position-fixed">
          <%- include('../../views/partials/admin/sidebar') %>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 main-content">
          <!-- content goes here -->
          <div class="container mt-5">
            <!-- Search bar -->
            <div class="d-flex justify-content-between mb-3">
              <h3>Coupon Management</h3>
              <input type="text" class="form-control w-25" placeholder="Search..." id="search" oninput="search()">
            </div>
          
            <!-- Coupon Table -->
            <% if (coupon.length === 0) { %>
             <div class="text-center text-danger fs-5 mt-5">There is no coupon! Please create one</div>
              <% } else { %>
                <table class="table table-bordered table-striped">
                  <thead class="t-head">
                    <tr class="text-white">
                      <th class="text-white">Code</th>
                      <th class="text-white">Coupon Type</th>
                      <th class="text-white">Coupon Amount</th>
                      <th class="text-white">Description</th>
                      <th class="text-white">Usage Limit</th>
                      <th class="text-white">Expiry Date</th>
                      <th class="text-white">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
            
                     <% coupon.forEach(items => { %>
                      
                    <tr>
                      <td><%= items.code %></td>
                      <td><%= items.coupon_type %></td>
                      <td><%= items.discount_value %></td>
                      <td><%= items.description %></td>
                      <td><%= items.limit %></td>
                      <td><%= items.expiry_date.toLocaleDateString() %></td>
                      <td>
                        <a href="#" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editCouponModal" 
                          onclick="loadCouponDetails('<%= items._id %>', '<%= items.code %>', '<%= items.discount_value %>', '<%= items.coupon_type %>', '<%= items.description %>', '<%= items.limit %>', '<%= items.expiry_date.toISOString() %>', '<%= items.is_active %>')">
                          Edit
                        </a>
                        <form action="/admin/delete-coupon" method="POST" style="display:inline;" id="deleteCouponForm">
                          <input type="hidden" name="coupon_id" value="<%= items._id %>"> <!-- Hidden input with coupon id -->
                          <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete()">Delete</button>
                        </form>
                      </td>
                    </tr>
    
                    <% }) %>
    
                  </tbody>
                </table>
            <% } %>
          </div>
          
          <!-- Add Coupon Form -->
          <div class="container mt-5">
            <div class="form-holder">
            <h4 class="text-center mb-3 fw-bold">Add New Coupon</h4>
            <form action="/admin/create-coupon" method="post" id="addCoupon">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="coupon-code" class="form-label">Coupon Code</label>
                 
                    <input value="" name = "code" type="text" class="form-control" id="coupon-code" placeholder="Enter the Coupon Code" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'code'); %>
                        <% if (error) { %>
                        <small class="error" id="errors1"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="coupon-amount" class="form-label">Discount value</label>
                    <input name="discount_value" type="number" class="form-control" id="coupon-amount" placeholder="Enter the amount" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'discount_value'); %>
                        <% if (error) { %>
                        <small class="error" id="errors2"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="max_discount_amount" class="form-label">Maximum discount amount</label>
                 
                    <input value="" name = "max_discount_amount" type="number" class="form-control" id="max_discount_amount" placeholder="Enter the amount" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'max_discount_amount'); %>
                        <% if (error) { %>
                        <small class="error" id="errors3"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="minimum_purchase_amount" class="form-label">Minimum purchase amount</label>
                    <input name="minimum_purchase_amount" type="number" class="form-control" id="minimum_purchase_amount" placeholder="Enter the amount" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'minimum_purchase_amount'); %>
                        <% if (error) { %>
                        <small class="error" id="errors4"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="coupon-type" class="form-label">Coupon Type</label>
                    <select name="coupon_type" class="form-select" id="coupon-type" >
                      <option value="fixed">Fixed Amount</option>
                      <option value="percentage">Percentage</option>
                    </select>

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'coupon_type'); %>
                        <% if (error) { %>
                        <small class="error" id="errors5"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input name="description" type="text" class="form-control" id="description" placeholder="Description" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'description'); %>
                        <% if (error) { %>
                        <small class="error" id="errors6"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="limit" class="form-label">Usage Limit</label>
                    <input name="limit" type="number" class="form-control" id="limit" placeholder="Limit" >

                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'limit'); %>
                        <% if (error) { %>
                        <small class="error" id="errors7"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="expiry-date" class="form-label">Expiry Date</label>
                    <input name="expiry_date" type="date" class="form-control" id="expiry-date" >
                    <% if (typeof validationError !=='undefined' && validationError) { %>
                      <% const error = validationError.find(err=> err.path === 'expiry_date'); %>
                        <% if (error) { %>
                        <small class="error" id="errors8"> <%= error.msg %> </small>
                      <% } %>
                    <% } %>

                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-success ad-bt">Add Coupon</button>
              </div>
            </form>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- Edit Coupon Modal -->
    <div class="modal fade" id="editCouponModal" tabindex="-1" aria-labelledby="editCouponModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editCouponModalLabel">Edit Coupon</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- Edit Coupon Form -->
            <form id="editCouponForm" action="/admin/edit-coupon" method="POST" >
              <input type="hidden" id="coupon-id" name="coupon_id">
              
              <!-- Coupon Code -->
              <div class="mb-3">
                <label for="coupon-code-edit" class="form-label">Coupon Code</label>
                <input name="code" type="text" class="form-control" id="coupon-code-edit" required>
                <p class="text-danger error-message" id="error1"></p>
              </div>

              <!-- Discount Value -->
              <div class="mb-3">
                <label for="coupon-amount-edit" class="form-label">Discount Value</label>
                <input name="discount_value" type="number" class="form-control" id="coupon-amount-edit" required>
                <p class="text-danger error-message" id="error2"></p>
              </div>

              <!-- Coupon Type -->
              <div class="mb-3">
                <label for="coupon-type-edit" class="form-label">Coupon Type</label>
                <select name="coupon_type" class="form-select" id="coupon-type-edit" required>
                  <option value="fixed">Fixed Amount</option>
                  <option value="percentage">Percentage</option>
                </select>
                <p class="text-danger error-message" id="error3"></p>
              </div>

              <!-- Description -->
              <div class="mb-3">
                <label for="description-edit" class="form-label">Description</label>
                <input name="description" type="text" class="form-control" id="description-edit" required>
                <p class="text-danger error-message" id="error4"></p>
              </div>

              <!-- Usage Limit -->
              <div class="mb-3">
                <label for="limit-edit" class="form-label">Usage Limit</label>
                <input name="limit" type="number" class="form-control" id="limit-edit" required>
                <p class="text-danger error-message" id="error5"></p>
              </div>

              <!-- Expiry Date -->
              <div class="mb-3">
                <label for="expiry-date-edit" class="form-label">Expiry Date</label>
                <input name="expiry_date" type="date" class="form-control" id="expiry-date-edit" required>
                <p class="text-danger error-message" id="error6"></p>
              </div>

              <!-- is_active (active/inactive) -->
              <div class="mb-3">
                <label for="is-active-edit" class="form-label">Status</label>
                <select name="is_active" class="form-select" id="is-active-edit" required>
                  <option value="active">Active</option>
                  <option value="inactive">Inactive</option>
                </select>
                <p class="text-danger error-message" id="error7"></p>
              </div>

              <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- scrips -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (error && error.length > 0) { %>
        <script>
            Swal.fire({
                title: "Error",
                text: "<%= error[0] %>",
                icon: 'error',
                showConfirmButton: false,
                timer: 2000,
            }) 
        </script>
    <% } %>

    <% if (success && success.length > 0) { %>
     <script>
        Swal.fire({
            title: 'Success',
            text: '<%= success[0] %>',
            icon: 'success',
            showConfirmButton: false,
            timer: 2000,
        })
     </script>
    <% } %>

    

    <script>

      function confirmDelete() {
        Swal.fire({
          title: "Are you sure!",
          text: "This action cannot be undone",
          icon: 'warning',
          shoowCancelButton: true,
          confirmButtonText: 'Yes, delete it!',
          cancelButtonText: 'No, cancel!',
          reverseButtons: true
        }).then((result) => {
          if(result.isConfirmed) {
            document.getElementById('deleteCouponForm').submit()
          }
        })
      }

      //validate the edit coupon form
      document.addEventListener('DOMContentLoaded', () => {
        const form = document.getElementById('editCouponForm');

        form.addEventListener('submit', (event) => {
          event.preventDefault()

          let isValid = true;

          //coupon code validation
          const couponCode = document.getElementById('coupon-code-edit').value
          if(couponCode.trim() === '') {
            document.getElementById('error1').textContent = "Coupon code is required"
            isValid = false
          }

          //discound value validation
          
          const discount = document.getElementById('coupon-amount-edit').value
          document.getElementById('error2').textContent = ""
          if(discount === '') {
            document.getElementById('error2').textContent = "Discount value is required"
            isValid = false
          }else if(discount <= 0) {
            document.getElementById('error2').textContent = "Discount value must be positive number"
            isValid = false
          }

          // Coupon Type Validation
          const couponType = document.getElementById("coupon-type-edit").value;
          if (couponType === "") {
            document.getElementById("error3").textContent = "Please select a coupon type.";
            isValid = false;
          }

          // Description Validation
          const description = document.getElementById("description-edit");
          if (description.value.trim() === "") {
            document.getElementById("error4").textContent = "Description is required.";
            isValid = false;
          }

          // Usage Limit Validation
          const limit = document.getElementById("limit-edit");
          if (limit.value.trim() === "") {
            document.getElementById("error5").textContent = "Usage limit is required.";
            isValid = false;
          } else if (limit.value <= 0) {
            document.getElementById("error5").textContent = "Usage limit must be a positive number.";
            isValid = false;
          }

          // Expiry Date Validation
          const expiryDate = document.getElementById("expiry-date-edit");
          if (expiryDate.value.trim() === "") {
            document.getElementById("error6").textContent = "Expiry date is required.";
            isValid = false;
          }

          // is_active Validation
          const isActive = document.getElementById("is-active-edit");
          if (isActive.value === "") {
            document.getElementById("error7").textContent = "Status selection is required.";
            isValid = false;
          }

          if (isValid) {
            form.submit();
          }


        })
      })    

      function search() {
        const input = document
          .getElementById("search")
          .value.toLowerCase()
          .trim(); // Get search input and convert to lowercase
        const rows = document.querySelectorAll("tbody tr"); // Get all rows to search

        rows.forEach((row) => {
          const user = row.children[0].textContent.toLowerCase().trim(); // Get user name in the second column (index 1)
          if (user.includes(input)) {
            row.style.display = ""; // Show row if it matches the search
          } else {
            row.style.display = "none"; // Hide row if it doesn't match
          }
        });
      }


      function loadCouponDetails(id, code, discount_value, coupon_type, description, limit, expiry_date, is_active) {
        // Populate the modal with the existing coupon details
        document.getElementById('coupon-id').value = id;
        document.getElementById('coupon-code-edit').value = code;
        document.getElementById('coupon-amount-edit').value = discount_value;
        document.getElementById('coupon-type-edit').value = coupon_type;
        document.getElementById('description-edit').value = description;
        document.getElementById('limit-edit').value = limit;
        document.getElementById('expiry-date-edit').value = expiry_date.split('T')[0]; // Format date to YYYY-MM-DD
        document.getElementById('is-active-edit').value = is_active;
      }

    </script>
  </body>
</html>
