<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eternal chapters: customers</title>
    <!-- font awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/admin/adminDashboard.css" />
    <link rel="stylesheet" href="/admin/admin.css" />
    <link rel="stylesheet" href="/admin/customer.css">

  </head>

  <body>
    <div class="container-fluid holder">
      <!-- Header -->
      <%- include('../../views/partials/admin/header') %>

      <div class="row side">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar-container vh-100 position-fixed">
          <%- include('../../views/partials/admin/sidebar') %>
        </div>

        <!-- Main Content -->
        <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 main-content">
          <!-- content goes here -->
          <div class="main">
            <div class="top-bar">
              <div class="search-bar">
                <!-- <form action="/admin/users"> -->
                <input
                  type="text"
                  id="search"
                  onkeyup="search()"
                  placeholder="Search by name"
                />
                <i class="fas fa-search"></i>
                <!-- </form> -->
              </div>
            </div>

            <div class="table-container">
              <h3>Customers</h3>
              <table>
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <% users.forEach((user,index)=> { %>

                  <tr id="searchData">
                    <td><%= index + 1 %></td>
                    <td><%= user.first_name %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phone_no %></td>
                    <td class="toggle-status">
                      <input type="checkbox" data-user-id="<%= user._id %>"
                      class="status-checkbox" <%=user.is_blocked ? '' :
                      'checked' %> >
                    </td>
                    <td>
                      <form
                        action="/admin/deleteUser/<%= user._id %>"
                        method="POST"
                        style="display: inline"
                        class="delete-user-form"
                      >
                        <button
                          type="submit"
                          class="btn btn-danger btn-sm delete-btn"
                          data-user-id="<%= user._id %>"
                        >
                          Delete
                        </button>
                      </form>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>

              <!-- <button
                class="add-user-btn"
                data-bs-toggle="modal"
                data-bs-target="#addUserModal"
              >
                Add User
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Add User Modal -->
    <!-- <div
      class="modal fade"
      id="addUserModal"
      tabindex="-1"
      aria-labelledby="addUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addUserModalLabel">Add User</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="/admin/add-user" method="POST">
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control input-custom"
                  name="first_name"
                  placeholder="First name"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control input-custom"
                  name="last_name"
                  placeholder="Last name"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="email"
                  class="form-control input-custom"
                  name="email"
                  placeholder="Enter email"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="text"
                  class="form-control input-custom"
                  name="phone_no"
                  placeholder="Enter mobile"
                  required
                />
              </div>
              <div class="form-group mb-3">
                <input
                  type="password"
                  class="form-control input-custom"
                  name="password"
                  placeholder="Enter password"
                  required
                />
              </div>
              <button type="submit" class="btn btn-success w-100">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- sweet alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (error && error.length > 0) { %>
      <script>
          Swal.fire({
              title: "Error",
              text: "<%= error[0] %>",
              icon: 'error',
              showConfirmButton: false,
              timer: 2000,
          }) 
      </script>
    <% } %>

    <% if (success && success.length > 0) { %>
    <script>
        Swal.fire({
            title: 'Success',
            text: '<%= success[0] %>',
            icon: 'success',
            showConfirmButton: false,
            timer: 2000,
        })
    </script>
    <% } %>
    

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const deleteButtons = document.querySelectorAll(".delete-btn");

        deleteButtons.forEach((button) => {
          button.addEventListener("click", (e) => {
            e.preventDefault(); // Prevent form submission

            const form = button.closest("form"); // Get the form
            const userId = button.dataset.userId; // Get user ID from data attribute

            Swal.fire({
              title: "Are you sure?",
              text: "This action cannot be undone!",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#d33",
              cancelButtonColor: "#3085d6",
              confirmButtonText: "Yes, delete it!",
            }).then((result) => {
              if (result.isConfirmed) {
                // If confirmed, submit the form
                form.submit();
              }
            });
          });
        });
      });


      document.addEventListener("DOMContentLoaded", () => {
        const checkboxes = document.querySelectorAll(".status-checkbox");

        checkboxes.forEach((checkbox) => {
          checkbox.addEventListener("change", async (event) => {
            const userId = event.target.getAttribute("data-user-id");
            const isBlocked = !event.target.checked;

            try {
              const response = await fetch("/admin/update-status", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({ userId, isBlocked }),
              });

              const result = await response.json();
              if (response.ok) {
                Swal.fire({
                  title: "Success",
                  text: result.message,
                  icon: "success",
                  confirmButtonText: "OK",
                  customClass: {
                    popup: "my-swal-popup",
                    title: "my-swal-title",
                    content: "my-swal-content",
                    confirmButton: "my-swal-btn",
                  },
                });
              } else {
                Swal.fire({
                  title: "Error",
                  text: result.message,
                  icon: "error",
                  confirmButtonText: "OK",
                  customClass: {
                    popup: "my-swal-popup",
                    title: "my-swal-title",
                    content: "my-swal-content",
                    confirmButton: "my-swal-btn",
                  },
                });
              }
            } catch (error) {
              console.error("Error updating user status", error);
              alert("Something went wrong");
            }
          });
        });

        //edit the user
        const editButtons = document.querySelectorAll(".edit-btn");

        editButtons.forEach((button) => {
          button.addEventListener("click", (event) => {
            const row = event.target.closest("tr");
            const userId = row
              .querySelector(".status-checkbox")
              .getAttribute("data-user-id");
            const firstName = row.querySelector(".first-name").textContent;
            const secondName = row.querySelector(".second-name").textContent;
            const dob = row.querySelector(".dob").textContent;
            const email = row.querySelector(".email").textContent;
            const phone = row.querySelector(".phone").textContent;

            // Populate the modal with user data
            document.getElementById("usereditid").value = userId;
            document.getElementById("firstName").value = firstName;
            document.getElementById("secondName").value = secondName;
            document.getElementById("dob").value = dob;
            document.getElementById("email").value = email;
            document.getElementById("phone").value = phone;
          });
        });
      });

      function search() {
        const input = document
          .getElementById("search")
          .value.toLowerCase()
          .trim(); // Get search input and convert to lowercase
        const rows = document.querySelectorAll("#searchData"); // Get all rows to search

        rows.forEach((row) => {
          const user = row.children[1].textContent.toLowerCase().trim(); // Get user name in the second column (index 1)
          if (user.includes(input)) {
            row.style.display = ""; // Show row if it matches the search
          } else {
            row.style.display = "none"; // Hide row if it doesn't match
          }
        });
      }

      // Edit User modal function
      function editUser(first_name, last_name, email, phone_no, id) {
        document.getElementById("editUserId").value = id;
        document.getElementById("editFirstName").value = first_name;
        document.getElementById("editLastName").value = last_name;
        document.getElementById("editEmail").value = email;
        document.getElementById("editPhone").value = phone_no;

        //show modal
        const addUserModal = new bootstrap.Modal(
          document.getElementById("editUserModal")
        );
        addUserModal.show();
      }
    </script>
  </body>
</html>
