<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eternal chapters: product details</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/admin/admin.css">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/admin/adminProducts.css">


    <style>
        .ad-offer {
            background-color: rgb(255, 0, 153);
            border: none;
        }
        .remove-offer {
            background-color: red;
            border: none;
        }
    </style>
</head>

<body>
    <div class="container-fluid holder">
        <!-- Header -->
    <%- include('../../views/partials/admin/header') %>

        <div class="row side">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 sidebar-container vh-100 position-fixed">
            <%- include('../../views/partials/admin/sidebar') %>
        </div>


            <div class="col-md-9 col-lg-10 offset-md-3 offset-lg-2 main-content">

                <!-- content goes here -->
                <div class="main">
                    <div class="top-bar">
                        <button class="add-bt"><a href="/admin/addProduct" class=" text-decoration-none text-white pt-2 pb-2 me-3" >Add Product</a></button>
                        <div class="search-bar">
                            <!-- <form action="/admin/users"> -->
                            <input type="text" id="search" onkeyup="search()" placeholder="Search by category name">
                            <i class="fas fa-search"></i>
                            <!-- </form> -->
                        </div>
                    </div>

                    <div class="table-container">
                        <h3 class="fw-bold mb-4">Books</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Book</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Stock</th>
                                    <th>Review</th>
                                    <th class="bt-td">Actions</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% products.forEach((product)=>{ %>

                                    <tr id="searchData">
                                        <td>
                                            <img src="/uploads/product-images/<%= product.product_imgs[0] %>" alt="<%= product.title %>" width="50" height="84">
                                        </td>
                                        <td>
                                            <%= product.title %>
                                        </td>
                                        <td>
                                            <% const categoryId = category.find(cat => cat._id.toString() === product.category_id.toString()) %>
                                            <%= categoryId ? categoryId.name : "Uncategorized" %>
                                        </td>
                                        <td>
                                            <%= product.price + '/-' %>
                                        </td>
                                        <td>
                                            <%= product.available_quantity %>
                                        </td>

                                        
                                        <td>
                                            <button type="submit" class="btn btn-primary rounded-pill r-bt"><a class="text-white text-decoration-none" href="">Review</a></button>
                                        </td>

                                        <!-- <td class="bt-td">
                                            
                                        </td> -->
                                        <td class="bt-td">
                                            <% if (product.offer_id) { %>
                                                <button class="offer-btn rounded-pill me-3 ps-3 pe-3 remove-offer text-white" data-product-id="<%= product._id %>">
                                                 Remove Offer
                                                </button>
                                                <% } else { %>
                                                <button class="offer-btn rounded-pill me-3 ps-3 pe-3 ad-offer">
                                                    <a class="text-decoration-none text-white" href="/admin/add-offer-product?id=<%= product._id %>">Add Offer</a>
                                                </button>
                                            <% } %>
                                            <button class="edit-btn rounded-pill me-3 ps-3 pe-3"><a class="text-decoration-none text-white" href="/admin/editProduct?id=<%= product._id %>">Edit</a></button>
                                            

                                            <% if(product.is_deleted){ %>

                                            <form action="/admin/restoreProduct/<%= product._id %>" method="POST" style="display:inline;">
                                                <button type="submit" class="btn btn-success p-1 soft-bt">Inactive</button>
                                            </form>
                                            <% }else{ %>
                                                <form action="/admin/soft-deleteProduct/<%= product._id %>" method="POST" style="display:inline;">
                                                    <button type="submit" class="btn btn-danger rounded-pill soft-bt">Active</button>
                                                </form>
                                            <% } %>
                                            <form id="deleteForm-<%= product._id %>" action="/admin/deleteProduct/<%= product._id %>" method="POST" style="display:inline;">
                                                <button type="button" class="delete-btn ms-3" onclick="confirmDelete('<%= product._id %>')"><i class="bi bi-archive-fill"></i></button>
                                            </form>
                                            
                                        </td>
                                    </tr>

                                    <% }) %>
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap JS Bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (success && success.length > 0) { %>
        <script>
            Swal.fire({
                title: "Success",
                text: "<%= success %>",
                icon: "success",
                confirmButtonText: 'OK',
                customClass: {
                    popup: 'my-swal-popup', // Custom class for the popup
                    title: 'my-swal-title', // Custom class for the title
                    content: 'my-swal-content', // Custom class for the content (text)
                    confirmButton: 'my-swal-btn' // Custom class for the button
                },
            });
        </script>
    <% } %>

    <script>
        function confirmDelete(productId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "This action cannot be undone!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                // Submit the form if confirmed
                document.getElementById(`deleteForm-${productId}`).submit();
            }
        });
    }


        document.querySelectorAll('.remove-offer').forEach(button => {
                button.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent default button click action
                const productId = this.getAttribute('data-product-id'); // Get the category ID

                Swal.fire({
                    title: 'Are you sure?',
                    text: 'This action will remove the offer from the product!',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, remove it!',
                }).then((result) => {
                    if (result.isConfirmed) {
                        // Redirect to the remove offer route
                        window.location.href = `/admin/remove-offer-product?id=${productId}`;
                    }
                });
            });
        });            


        function search() {
            const input = document.getElementById("search").value.toLowerCase().trim(); // Get search input and convert to lowercase
            const rows = document.querySelectorAll("#searchData"); // Get all rows to search

            rows.forEach((row) => {
                const cat = row.children[1].textContent.toLowerCase().trim(); // Get user name in the second column (index 1)
                if (cat.includes(input)) {
                    row.style.display = ""; // Show row if it matches the search
                } else {
                    row.style.display = "none"; // Hide row if it doesn't match
                }
            });
        }

        // //edit category
        // function editCategory(name) {
        //     const editForm = document.getElementById('editForm')
        //     editForm.style.display = "flex"


        //     document.getElementById("editName").value = name;
        //     document.getElementById("editDescription").value = ""
        // }

        // Edit category modal function
        function editCategory(name,description,id) {
            document.getElementById("editCategoryId").value = id
            document.getElementById("editName").value = name
            document.getElementById("editDescription").value = description

            //show modal
            const editCategoryModal = new bootstrap.Modal(document.getElementById("editCategoryModal"))
            editCategoryModal.show()
         }

    </script>
</body>

</html>