<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eternal Chapters</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="userDetails.css" />
    <link rel="stylesheet" href="cart.css" />
    <link rel="stylesheet" href="user/header.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <%- include('../../views/partials/user/detailsHeader') %>
    

    <div class="d-flex main containers">
        <% if (items.length === 0) { %>
            <!-- Show empty cart message -->
            <div class="text-center fw-bold empty">
                <p>Your cart is empty!</p>
            </div>
        <% } else { %>
        <div class="main-content container mt-5 cart-container">
            
            <h3 class="mb-4 text-center">Your Cart</h3>

                <div id="notification" style="display:none"></div>
                <!-- Cart Items Section -->
                <div class="row item-card">
                    <!-- Left Section: Cart Items -->
                    <div class="col-md-8">
                        <% items.forEach(item => { %>
                            <div class="row align-items-center mb-3 detail">
                                <div class="col-md-2">
                                    <img src="/uploads/<%= item.product.product_imgs[0] %>" alt="Product img" class="img-fluid" />
                                </div>
                                <div class="col-md-4">
                                    <h5><%= item.product.title %></h5>
                                    <p><%= item.product.author_name %></p>
                                    <p class="text-success fw-bold">&#8377;<%= item.product.price %></p>
                                </div>
                                <div class="col-md-3">
                                    <div class="d-flex align-items-center">
                                        <button class="btn btn-outline-secondary btn-sm decrement">-</button>
                                        <input type="text" class="form-control form-control-sm mx-2 text-center"
                                            value="<%= item.quantity %>" data-current-quantity="<%= item.quantity %>" style="width: 40px" />
                                        <button class="btn btn-outline-secondary btn-sm increment">+</button>
                                    </div>
                                </div>
                                <div class="col-md-2 text-end">
                                    <form action="/remove-cart-product/<%= item.product._id %>" method="post">
                                        <button class="btn btn-danger btn-sm">Remove</button>
                                    </form>
                                </div>
                            </div>
                        <% }) %>
                    </div>

                    <!-- Right Section: Price Details -->
                    
                    <div class="col-md-4 price-holder">
                        <div class="price-details">
                            <h5>PRICE DETAILS</h5>
                            <p>
                                Price ( <%= items.length %> Items ) <span class="float-end">&#8377;<%= totalPrice %></span>
                            </p>
                            <p>Delivery Charges <span class="float-end"><%= shippingCharges %></span></p>
                            <hr />
                            <p class="fw-bold">
                                Total Amount <span class="float-end">&#8377;<%= totalPrice %></span>
                            </p>
                            <button class="btn-checkout w-100 mt-3"><a class="text-white text-decoration-none" href="/checkout">Checkout</a></button>
                        </div>
                    </div>
                    
                </div>
            <% } %>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../../views/partials/user/detailsFooter') %>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Sweet Alert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Socket.io -->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>

    <% if (success && success.length > 0) { %>
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '<%= success[0] %>', // Display the first success message
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                    popup: 'my-swal-popup', // Custom class for the popup
                    title: 'my-swal-title', // Custom class for the title
                    content: 'my-swal-content', // Custom class for the content (text)
                    confirmButton: 'my-swal-btn' // Custom class for the button
                },
            });
        </script>
    <% } %>

    <% if (error && error.length > 0) { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: '<%= error[0] %>', // Display the first error message
                showConfirmButton: false,
                timer: 1500,
                customClass: {
                    popup: 'my-swal-popup',
                    title: 'my-swal-title',
                    content: 'my-swal-content',
                    confirmButton: 'my-swal-btn'
                },
            });
        </script>
     
    <% } %>

    <script>
        
        document.addEventListener('DOMContentLoaded', () => {
            const socket = io(); // Initialize socket connection
            const cartItems = document.querySelectorAll('.detail'); // Get all cart items

            const updateCartQuantity = async (productId, quantity, quantityInput) => {
                try {
                    const response = await fetch(`/update-cart`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            quantity,
                            product_id: productId
                        })
                    });

                    const data = await response.json();
                    if (response.ok && data.success) {
                        socket.emit('updateCart', { productId, quantity });
                    } else {
                        quantityInput.value = quantityInput.dataset.currentQuantity;

                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: data.message,
                            confirmButtonText: 'Okay',
                            customClass: {
                                popup: 'my-swal-popup',
                                title: 'my-swal-title',
                                content: 'my-swal-content',
                                confirmButton: 'my-swal-btn'
                            },
                        });
                    }
                } catch (error) {
                    console.error(error);
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'An error occurred while updating the cart!',
                        confirmButtonText: 'Okay',
                        customClass: {
                            popup: 'my-swal-popup',
                            title: 'my-swal-title',
                            content: 'my-swal-content',
                            confirmButton: 'my-swal-btn'
                        },
                    });
                }
            };

            cartItems.forEach(item => {
                const productId = item.querySelector('form').action.split('/').pop();
                const decrementBtn = item.querySelector('.decrement');
                const incrementBtn = item.querySelector('.increment');
                const quantityInput = item.querySelector('input');

                // Initialize data-current-quantity
                quantityInput.dataset.currentQuantity = quantityInput.value;

                decrementBtn.addEventListener('click', () => {
                    let quantity = parseInt(quantityInput.value);
                    if (quantity > 1) {
                        quantity -= 1;
                        quantityInput.value = quantity;
                        updateCartQuantity(productId, quantity, quantityInput);
                    }
                });

                incrementBtn.addEventListener('click', () => {
                    let quantity = parseInt(quantityInput.value);
                    quantity += 1;
                    quantityInput.value = quantity;
                    updateCartQuantity(productId, quantity, quantityInput);
                });

                quantityInput.addEventListener('change', () => {
                    let quantity = parseInt(quantityInput.value);
                    if (quantity < 1) {
                        quantity = 1;
                    }
                    quantityInput.value = quantity;
                    updateCartQuantity(productId, quantity, quantityInput);
                });
            })

            //liste for real time cart update
            socket.on('updateClientCart', ({ productId, quantity }) => {
                cartItems.forEach(item => {
                    const id = item.querySelector('form').action.split('/').pop();
                    if (id === productId) {
                        item.querySelector('input').value = quantity;
                        input.dataset.currentQuantity = quantity; // Update current quantity
                    }
                });
            });
        })
    </script>
</body>

</html>
